body {
    padding-left: 11em;
    font-family: Georgia, "Times New Roman",
          Times, serif;
    color: rgb(255, 251, 0);
    background-color: rgb(255, 0, 140) }
  ul.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em }
  h1 {
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif }
  ul.navbar li {
    background: white;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid black }
  ul.navbar a {
    text-decoration: none }
  a:link {
    color: rgb(255, 0, 191) }
  a:visited {
    color: purple }
  address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted }
h3 {
    color:rgb(0, 23, 128);
}
.try {
    color:blue;
    background-color: rgb(215, 213, 218);
}
.try8
{
  color:rgb(255, 251, 0);
  font-size: 130px;
  font-family:georgia,garamond,serif;
  font-style:italic;

}